<p id="notice"><%= notice %></p>

<p>
  <strong>Flight:</strong>
  <%= @reservation.flight_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @reservation.user_id %>
</p>

<p>
  <strong>Rows:</strong>
  <%= @reservation.rows %>
</p>

<p>
  <strong>Columns:</strong>
  <%= @reservation.columns %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', reservations_path %>
