<a href="#">BurningAirlines</a>

<h1>Welcome to Burning Airlines</h1>

<div id="main">

   <%= form_for Flight.new do |f| %>
    <p>
      <%= f.label :origin %><br>
      <%= f.text_field :origin %>
    </p>

    <p>
      <%= f.label :destination %><br>
      <%= f.text_field :destination %>
    </p>

    <%= f.submit placeholder="Find Flights" %>

  <% end %>


</div>


   <script type="template/html" id="appView">
    <h1>All Flights</h1>
    <ul id="flights"></ul>
  </script>

  <script type="template/handlebars" id="flightView">
    {{ flights }}
  </script>


  <script type="template/handlebars" id="SearchView">
    {{ flights }}
  </script>


  <script type="template/handlebars" id="planesView">
    {{ name }}
  </script>

  <script type="template/handlebars" id="planeView">
    <div class="plane">
      <h2>Plane: {{ name }}</h2>
      <label>Rows:</label>
      <p>{{ rows }}</p>
      <label>Columns: </label>
      <p>{{ columns }}</p>
    </div>
  </script>

<!-- Fabian end -->

<!-- Jacqui -->
<!-- Jacqui end -->

<!-- Larry -->
<!-- Larry end -->

<!-- Phil -->
<!-- Phil end -->
