<h1>Listing planes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Rows</th>
      <th>Columns</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @planes.each do |plane| %>
      <tr>
        <td><%= plane.name %></td>
        <td><%= plane.rows %></td>
        <td><%= plane.columns %></td>
        <td><%= link_to 'Show', plane %></td>
        <td><%= link_to 'Edit', edit_plane_path(plane) %></td>
        <td><%= link_to 'Destroy', plane, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Plane', new_plane_path %>



<div id="planes-main">
</div>

 <h2>New Plane</h2>
  <%= form_for Plane.new do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :rows %><br>
      <%= f.text_field :rows %>
    </p>

    <p>
      <%= f.label :columns %><br>
      <%= f.text_area :columns %>
    </p>

    <%= f.submit %>
  <% end %>


   <script type="template/html" id="planesAppView">
    <h1>All Planes</h1>
    <ul id="planes"></ul>
  </script>


  <script type="template/handlebars" id="SearchView">
    {{ flights }}
  </script>


  <script type="template/handlebars" id="planesView">
    {{ name }}
  </script>

  <script type="template/handlebars" id="planeView">
    <div class="plane">
      <h2>Plane: {{ name }}</h2>
      <label>Rows:</label>
      <p>{{ rows }}</p>
      <label>Columns: </label>
      <p>{{ columns }}</p>
    </div>
  </script>
