<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Burning Airlines</title>
</head>
<body>

  <div class="container">
    <h1><a href="#">Burning Airlines</a></h1>
    <div id="main">
      
        <%= form_for Flight.new do |f| %>
    <p>
      <%= f.label :origin %><br>
      <%= f.text_field :origin %>
    </p>

    <p>
      <%= f.label :destination %><br>
      <%= f.text_field :destination %>
    </p>

    <%= f.submit placeholder="Find Flights" %>

  <% end %>



    </div>
  </div>

  <script type="template/html" id="flightViews">
    <h1>Recent Posts</h1>
    <ul id="flights"></ul>
   </script> -->


  <!-- Example for your handlebars
   <script type="template/html" id="flightViews">
    <h1>Recent Posts</h1>
    <ul id="posts"></ul>
   </script> -->


</body>
</html>

