<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Burning Airlines</title>
</head>
<body>

  <div class="container">

    <h1><a href="#"><p id="fire">Burning Airlines</p></h1>
    <p><a href="#planes">Show all planes</a></p>
    <div id="main">

       <!--  <%= form_for Flight.new do |f| %>
    <p>
      <%= f.label :origin %><br>
      <%= f.text_field :origin %>
    </p>

    <p>
      <%= f.label :destination %><br>
      <%= f.text_field :destination %>
    </p>

    <%= f.submit placeholder="Create Flight" %>

  <% end %> -->

    <!-- Form to create a new plane. TODO: Create a template for it, build and render it through js -->
 <!-- <h2>New Plane</h2>
  <%= form_for Plane.new do |f| %>
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <p>
      <%= f.label :rows %><br>
      <%= f.text_field :rows %>
    </p>

    <p>
      <%= f.label :columns %><br>
      <%= f.text_area :columns %>
    </p>

    <%= f.submit %>
  <% end %> -->



    </div>
  </div>


  <!-- Example for your handlebars
   <script type="template/html" id="flightViews">
    <h1>Recent Posts</h1>
    <ul id="posts"></ul>
   </script> -->

<!-- lawrence -->
  <script type="template/handlebars" id="flightView">
    <h1>Single Flight View</h2>
    #{{ flight_number }}
    <p> origin: {{ origin }}</p>
    <p> des: {{ destination }}</p>
  </script>

  <script type="template/handlebars" id="flightListView">
  <h1> showing all flights </h1>
    <div id="flights">
      {{#each flight }}
        <div>Flight Number: <a href="#flight/{{ id }}">{{ flight_number }}</a>
        Origin:{{ origin }} -
        Destination: {{ destination }} -
        Plane Id:{{ plane_id }}
        Date: {{ date }}</div>
      {{/each}}
    </div>
  </script>
<!-- lawrence end -->

<!-- Fabian Start -->

  <script type="template/handlebars" id="planeView">
    <h1>Single Plane View</h2>
    #{{ name }}
    <p> rows: {{ rows }}</p>
    <p> columns: {{ columns }}</p>
  </script>

  <script type="template/handlebars" id="planesView">
  <h1> showing all planes </h1>
    <div id="planes">
    {{#each plane }}
        <div>Plane name: <a href="#planes/{{ id }}">{{ name }}</a>
        Rows:{{ rows }} -
        Columns: {{ columns }} -
        Id:{{ id }}
        </div>
    {{/each}}
    </div>
  </script>


  <!-- Template that is used and rendered when all planes shall be shown. Will create a ul that is then filled with an li for each plane with the next template (planesView) -->
  //  <script type="template/html" id="AppView">
  //   <h1>All Planes</h1>
  //   <ul id="planes"></ul>
  // </script>

  <!-- Template to show a separate plane name (as li in a ul) that links to the planeView-->
  <script type="template/handlebars" id="planesView">
    {{ name }}
  </script>

  <!-- Template to show all information for a specific plane -->
  <script type="template/handlebars" id="planeView">
    <div class="plane">
      <h2>Plane: {{ name }}</h2>
      <label>Rows:</label>
      <p>{{ rows }}</p>
      <label>Columns: </label>
      <p>{{ columns }}</p>
    </div>
  </script>

  <script>
    $('#new_plane').on('submit', function (event) {
      event.preventDefault();

      var newPlane = new app.Models.Plane();
      newPlane.set('name', $('#plane_name').val());
      newPlane.set('rows', $('#plane_rows').val());
      newPlane.set('columns', $('#plane_columns').val());

      newPlane.save().done(function () {
        app.planes.fetch();
        app.router.navigate('planes', {trigger: true});
    });

    this.reset();
    });
  </script>
<!-- Fabian End -->

<!-- jacqui start -->


<!-- <iframe src="http://giphy.com/embed/QIrN5WRhpRpPW?html5=true" width="480" height="264" frameBorder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
 -->

<!-- jacqui end -->

</body>
</html>

